{% extends "base.html" %}
{% block main %} 
<div class="container mt-4" style="display: flex; justify-content: center; ">
    <form action="" method="post" style="width: 50%; ">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder=" " required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">first name</label>
            <input type="Name" class="form-control" name="first_name" id="exampleFormControlInput1" placeholder="name" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">last name</label>
            <input type="Name" class="form-control" name="last_name" id="exampleFormControlInput1" placeholder="name" required>
        </div>
        <input type="submit" value="Start" class="btn btn-danger">
    </form> 
</div>
{% endblock %}